<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="db.properties"/>

    <environments default="development">

        <environment id="development">

            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">

                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>

            </dataSource>

        </environment>

    </environments>

    <mappers>

        <mapper resource="mapper/DepartmentMapper.xml"/>
		<mapper resource="mapper/DoctorMapper.xml"/>
		<mapper resource="mapper/PatientMapper.xml"/>
		<mapper resource="mapper/MedicineMapper.xml"/>
		<mapper resource="mapper/AppointmentMapper.xml"/>
		<mapper resource="mapper/PrescriptionMapper.xml"/>
		<mapper resource="mapper/BillMapper.xml"/>
		<mapper resource="mapper/PaymentMapper.xml"/>
		<mapper resource="mapper/UserMapper.xml"/>
		<mapper resource="mapper/NurseMapper.xml"/>
		<mapper resource="mapper/WardMapper.xml"/>
		<mapper resource="mapper/BedMapper.xml"/>
		<mapper resource="mapper/AdmissionMapper.xml"/>
		<mapper resource="mapper/LaboratoryTestMapper.xml"/>
		<mapper resource="mapper/PatientTestMapper.xml"/>
		<mapper resource="mapper/PrescriptionMedicineMapper.xml"/>
		<mapper resource="mapper/PrescriptionTestMapper.xml"/>
    </mappers>

</configuration>